:root {
    --white: #fff;
    --black: #000;
    --primary: #dc4f72;

    --bg-color: #fff;
    --title-color: #2C3038;
    --light-bg-color: #F7F9FC;
    --border-color: #eee;
    --text-color: #5a5a5a;

    --card-box-shadow: 1px 5px 7.5px rgba(14, 13, 13, 0.2);
    --card-hover-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09)
}

[data-theme="dark"] {
    --bg-color: #131617;
    --title-color: #eee;
    --light-bg-color: #191c1d;
    --border-color: #333;
    --text-color: #b7b7b7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html,
body {
    font-family: 'Nunito', sans-serif;
    background-color: var(--bg-color);
}

/* Buttton  */
.btn {
    border: 1px solid var(--primary);
    border-radius: 4px;
    padding: 15px 30px;
    font-weight: 700;
    font-size: 14px;
    transition: all .5s;
}

.btn--primary {
    color: var(--primary);
    background-color: transparent;
}

.btn--primary:hover {
    background-color: var(--primary);
    color: var(--white);
}

.btn--secondary {
    background-color: var(--primary);
    color: var(--white);
}

.btn--secondary:hover {
    background-color: #d62f58;
}



/* Section heading  */
.section-heading {
    max-width: 750px;
    text-align: center;
    margin: 0 auto;
}

.section-heading h6 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 5px;
}

.section-heading h3 {
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
    color: var(--title-color);
}

.section-heading p {
    margin: 15px 0;
    color: var(--text-color);
}