@media screen and (max-width: 1024px) {
    .header__content {
        height: auto;
    }

    .navbar__list li {
        margin-left: 0;
    }

    .header__content .search__btn {
        margin-left: auto;
        margin-right: auto;
    }

    #dropdownNavbar ul {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .btn {
        padding: 12px 20px;
    }
}

@media screen and (max-width: 576px) {
    .header__brand {
        font-size: 20px;
    }
}